<section id="aboutme" class="aboutme">
  <div class="layout-container aboutme-container">
    <img
      src="/assets/media/aboutme.jpg"
      alt="Me holding a digital camera in an outdoors urban area"
      class="aboutme__image"
    />

    <div class="aboutme__text">
      <h1 class="aboutme__heading">About Me</h1>

      <p class="aboutme__p">
        Engineer turned developer remained problem-solver.
      </p>

      <p class="aboutme__p">
        Originally from São Paulo, Brazil, I came to Canada in 2015 to attend
        the University of British Columbia.
      </p>

      <p class="aboutme__p">
        Following a few years of work in civil engineering, I found myself at a
        career crossroads. I still wanted to leverage my technical skills and
        affinity for technology, but in an innovative industry where I could
        really make a difference.
      </p>

      <p class="aboutme__p">
        So in 2022, I decided to make a change. I took an intensive course at
        Lighthouse Labs, where I learned the fundamentals of programming and
        full-stack web development. With this new and ever-growing tech
        skillset, I want to do work that helps people life healthier and happier
        lives.
      </p>

      <p class="aboutme__p">
        In my free time, I like spending quality time with friends and family,
        capturing the world through my lens and going to the gym. As of August
        2023, my strongest lift was a 315lb deadlift.
      </p>
    </div>
  </div>
</section>
