<header class="header">
  <div class="layout-container header-container">
    <a href="/" class="logo">
      <span>k</span>
    </a>
    <nav class="nav">
      <menu class="nav__list">
        {% if page.layout == 'default' %}
        <li>
          <a class="nav__link nav__link--unselected" href="/">Home</a>
        </li>
        <li>
          <a class="nav__link nav__link--unselected" href="/about">About Me</a>
        </li>
        {% endif %}
        <!--  -->
        {% if page.layout == 'application' %}
        <li>
          <a class="nav__link nav__link--unselected" href="#motivation"
            >Motivation</a
          >
        </li>
        <li>
          <a class="nav__link nav__link--unselected" href="#projects"
            >Projects</a
          >
        </li>
        <li>
          <a class="nav__link nav__link--unselected" href="#skills">Skills</a>
        </li>
        <li>
          <a class="nav__link nav__link--unselected" href="#footer">Contact</a>
        </li>
        {% endif %}
      </menu>
      <button class="hamburger__button" role="menu">
        <svg class="hamburger__icon hamRotate" viewBox="0 0 100 100" width="50">
          <path
            class="line top"
            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
          ></path>
          <path class="line middle" d="m 30,50 h 40"></path>
          <path
            class="line bottom"
            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
          ></path>
        </svg>
      </button>
    </nav>
  </div>
</header>
