<section id="hero" class="hero">
  <div class="layout-container hero-container">
    <div class="hero__text">
      <h1 class="hero__greeting">Hello,</h1>
      <p class="hero__p">
        My name is Kei Kaloustian and
        <!-- <br /> -->
        I'm a civil engineer turned
        <span class="hero__accent-word">web developer</span>.
      </p>
      <p class="hero__p">
        My goal is to use technology in combination with my problem-solving and
        collaboration skills to help people live better.
      </p>
      {% if page.layout == 'default' %}
      <p class="hero__p">Welcome to my portfolio.</p>
      {% endif %}
    </div>

    <picture>
      <source media="(max-width: 425px)" srcset="/assets/media/hero-S.jpg" />
      <img
        class="hero__image"
        src="/assets/media/hero-L.jpg"
        alt="portrait of me sitting in front of computer screens"
      />
    </picture>
  </div>
</section>
