<section id="hero">
  <div class="layout-container hero-container">
    <div class="hero__text">
      <h1 class="hero__greeting">Hello!</h1>
      <p class="hero__p">
        My name is Kei Kaloustian and
        <!-- <br /> -->
        I'm a civil engineer turned
        <span class="hero__accent-word">web developer</span>.
      </p>
      <p class="hero__p">
        My goal is to use technology in combination with my problem-solving and
        collaboration skills to help people live better.
      </p>
      {% if page.layout == 'default' %}
      <p class="hero__p">Welcome to my portfolio.</p>
      {% endif %}
    </div>

    <img
      src="https://picsum.photos/id/794/500/600"
      alt="web developer developing"
      class="hero__image"
    />
  </div>
</section>
