<section id="hero">
  <div class="layout-container hero-container">
    <h1 class="hero__greeting">Hello!</h1>
    <h2 class="hero__p1">
      My name is Kei Kaloustian and
      <!-- <br /> -->
      I'm a civil engineer turned
      <span class="hero__accent-word">web developer</span>.
    </h2>
    <h2 class="hero__p2">I</h2>
    {% if page.layout == 'default' %}
    <h2 class="hero__welcome">Welcome to my portfolio.</h2>
    {% endif %}

    <img
      src="https://picsum.photos/id/794/500/600"
      alt="web developer developing"
      class="hero__image"
    />
  </div>
</section>
