<section id="projects" class="projects">
  <div class="layout-container projects-container">
    <div class="projects__text">
      <h1 class="projects__heading">Work</h1>
      <p class="projects__p">
        Here are the most recent and/or relevant projects I've worked on.
      </p>
      <a
        class="projects__link"
        href="https://github.com/keikaloustian?tab=repositories"
        target="_blank"
        rel="noopener noreferrer"
        >More on GitHub
        <!-- ARROW RIGHT ICON -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="projects-link__icon projects-link__icon--arrow"
        >
          <path
            d="m560-242-43-42 168-168H160v-60h525L516-681l43-42 241 241-240 240Z"
            fill="currentColor"
          />
        </svg>
        <!-- CHEVRON RIGHT ICON -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="projects-link__icon projects-link__icon--chevron"
        >
          <path
            d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z"
            fill="currentColor"
          />
        </svg>
      </a>
    </div>
    <div class="projects__cards">
      {% for project in site.data.projects %}
      <a
        href="{{ project.link }}"
        class="project-card"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="project-card__image"
          src="{{ project.image | prepend: '/assets/media/' }}"
        />
        <p class="project-card__type">{{ project.type }}</p>
        <h2 class="project-card__title">{{ project.title }}</h2>
        <p class="project-card__description">{{ project.description }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
