<section id="testimonials" class="testimonials">
  <div class="layout-container">
    <h1 class="testimonials__heading">Testimonials</h1>
    <div class="testimonials-container">
      <div class="testimonial__card">
        <img
          src="https://picsum.photos/50"
          alt=""
          class="testimonial__picture"
        />
        <h2 class="testimonial__name">Lorem, ipsum.</h2>
        <p class="testimonial__title">Lorem, ipsum dolor.</p>

        <p class="testimonial__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          delectus, placeat autem reprehenderit excepturi est ipsam ex
          laudantium molestias quis!
        </p>
      </div>

      <div class="testimonial__card">
        <img
          src="https://picsum.photos/50"
          alt=""
          class="testimonial__picture"
        />
        <h2 class="testimonial__name">Lorem, ipsum.</h2>
        <p class="testimonial__title">Lorem, ipsum dolor.</p>

        <p class="testimonial__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          delectus, placeat autem reprehenderit excepturi est ipsam ex
          laudantium molestias quis!
        </p>
      </div>
    </div>
  </div>
</section>
