// $bg: #fffffc;
// $text: #111;
// $primary: #a81c07;
// $secondary: #003153;

// $dark-bg: #050505;
// $dark-text: #fafafa;
// $dark-primary: #a72608;
// $dark-secondary: #001e33;

:root {
  --bg: #fffffc;
  --text: #111;
  --primary: #a81c07;
  --secondary: #003153;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #081016;
    --text: #fafafa;
    --primary: #a72608;
    --secondary: #001e33;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
}

$mobile: 425px;
$tablet: 768px;
$desktop: 1440px;
