// $bg: #fffffc;
// $text: #111;
// $primary: #a81c07;
// $secondary: #003153;

// $dark-bg: #050505;
// $dark-text: #fafafa;
// $dark-primary: #a72608;
// $dark-secondary: #001e33;

// Fonts
$arbutus: "Arbutus Slab", serif;
$nunito: "Nunito Sans", sans-serif;

// Breakpoints
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

// Border radius
$corners: 8px;

// Resets
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
}

input,
textarea {
  box-sizing: border-box;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

// Base styles
:root {
  --bg: #f5f5f5;
  --bg-light: #ffffff;
  --text: #111;
  --primary: 168, 28, 7;
  --secondary: 0, 49, 83;
  --accent: #708090;
  --lighttext: 400;

  background-color: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #081016;
    --bg-light: #10212d;
    --text: #fafafa;
    --primary: 167, 38, 8;
    --secondary: 204, 234, 255;
    --accent: #bebfc5;
    --lighttext: 300;
  }
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.layout-container {
  margin-inline: 1rem;
}

@media (min-width: $mobile) {
  .layout-container {
    margin-inline: 2rem;
  }
}

@media (min-width: $tablet) {
  .layout-container {
    max-width: 750px;
    margin-inline: auto;
    padding-inline: 3rem;
  }
}

@media (min-width: $desktop) {
  .layout-container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 3rem;
  }
}

.scrolltop {
  color: var(--bg);
  position: fixed;
  background-color: rgb(var(--secondary));
  padding: 0;
  border-radius: $corners;
  bottom: 25px;
  right: 15px;
  height: 35px;
  width: 35px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
  translate: 100px;

  &:hover {
    background-color: rgb(var(--primary));
  }
}

.scrolltop--visible {
  translate: 0;
}

.scrolltop__icon {
  width: 25px;
  height: 25px;
  margin-inline: auto;
}

@media screen and (max-width: $tablet) {
  .scrolltop {
    height: 30px;
    width: 30px;
  }
  .scrolltop__icon {
    width: 20px;
    height: 20px;
  }
}
