.hero {
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  align-items: center;
  font-family: $nunito;
  column-gap: 4rem;
}

.hero__greeting {
  font-size: 3.75rem;
}

.hero__p {
  margin-block: 1em;
  opacity: 90%;
  font-size: 1.5rem;
}

.hero__p2 {
  margin-block: 1em;
  opacity: 90%;
}

.hero__accent-word {
  position: relative;
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0.95em;
    height: 0.5em;
    background-color: rgb(var(--primary));

    $underline: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1213 73" fill="%23000"><path d="M1212.41 5.51c3.05 12.87-22.36 11.93-30.26 15.68-94.32 20.51-269.09 32.42-365.48 37.51-77.91 3.82-155.66 9.93-233.67 11.67-57.49 2.56-115.05-.19-172.57 1.58-121.28.91-243.17 1.88-363.69-13.33-12.51-2.64-25.8-2.92-37.77-7.45-30.66-21.42 26.02-21.53 38.52-19.26 359.95 29.05 364.68 27.36 638.24 17.85 121-3.78 241.22-19.21 426.76-41.46 4.72-.65 9.18 3.56 8.45 8.36a941.74 941.74 0 0 0 54.29-9.21c9.33-2.33 18.7-4.56 27.95-7.19a7.59 7.59 0 0 1 9.23 5.24Z"/></svg>');

    -webkit-mask-image: $underline;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;

    mask-image: $underline;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.hero__image {
  border-radius: $corners;
}

@media screen and (min-width: $desktop) {
  .hero__image {
    -webkit-box-shadow: -25px 25px 35px 0px rgb(var(--secondary), 0.17);
    box-shadow: -25px 25px 35px 0px rgb(var(--secondary), 0.17);
  }
}

@media screen and (max-width: $mobile) {
  .hero__greeting {
    font-size: 2rem;
  }

  .hero__p {
    font-size: 1rem;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .hero__greeting {
    font-size: 3rem;
  }

  .hero__p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $desktop) {
  .hero-container {
    flex-direction: column;
  }

  .hero__text {
    margin-top: 0;
  }

  .hero__image {
    margin-top: 2rem;
    margin-inline: auto;
  }
}
