.hero {
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  align-items: center;
  font-family: $nunito;
  column-gap: 4rem;
}

.hero__text {
  // margin-top: 4rem;
}

.hero__greeting {
  font-size: 3.75rem;
}

.hero__p {
  margin-block: 1em;
  opacity: 90%;
  font-size: 1.5rem;
}

.hero__p2 {
  margin-block: 1em;
  opacity: 90%;
}

.hero__accent-word {
  // color: var(--primary);
}

.hero__image {
  border-radius: $corners;
}

@media screen and (min-width: $desktop) {
  .hero__image {
    -webkit-box-shadow: -25px 25px 35px 0px rgb(var(--secondary), 0.17);
    box-shadow: -25px 25px 35px 0px rgb(var(--secondary), 0.17);
  }
}

@media screen and (max-width: $mobile) {
  .hero__greeting {
    font-size: 2rem;
  }

  .hero__p {
    font-size: 1rem;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .hero__greeting {
    font-size: 3rem;
  }

  .hero__p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $desktop) {
  .hero-container {
    flex-direction: column;
  }

  .hero__text {
    margin-top: 0;
  }

  .hero__image {
    margin-top: 2rem;
    margin-inline: auto;
  }
}
