.skills {
  font-family: $nunito;
  margin-top: 10rem;
}

// .skills-container {
// }

.skills__heading {
  font-size: 2.5rem;
}

@media screen and (max-width: $mobile) {
  .skills__heading {
    font-size: 2rem;
  }

  .skills__p {
    font-size: 1rem;
  }
}

.skills__p {
  opacity: 90%;
  font-size: 1.5rem;
  font-weight: var(--lighttext);
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: $tablet) {
  .skills__p {
    font-size: 1.25rem;
  }
}

.skills__link {
  font-size: 1.25rem;
  color: rgb(var(--secondary));
  opacity: 75%;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.2s;

  &:hover {
    opacity: 95%;

    .skills-link__icon {
      translate: 6px;
      opacity: 90%;
    }
  }
}

.skills-link__icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  opacity: 70%;
  margin-left: -3px;
  margin-bottom: 3px;

  &--arrow {
    color: inherit;
    transition-property: translate;
    transition-duration: $arrow-animation-duration;
    transition-delay: $arrow-animation-delay;
    transition-timing-function: $arrow-animation-timingfunction;
  }

  &--chevron {
    color: inherit;
    margin-left: -22px;
    transition-property: translate;
    transition-duration: $arrow-animation-duration;
    transition-timing-function: $arrow-animation-timingfunction;
  }
}

.skills__list {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skill {
  background: radial-gradient(
    closest-side,
    rgb(var(--secondary), 0.15),
    transparent
  );
  padding: 20px 25px;
}

.skill__icon {
  height: 50px;
  filter: saturate(45%);
  transition: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  &:hover {
    filter: saturate(100%);
    transform: scale(1.1);
  }
}
