<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}
      {%- if page.title -%}
        {{page.title | prepend: ' - '}}
        {%- endif -%}
      </title>
      
      <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
      <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap" rel="stylesheet">

  </head>
  <body>
    {{ content }}
    <button class="scrolltop">
      <svg xmlns="http://www.w3.org/2000/svg" class="scrolltop__icon" viewBox="0 -960 960 960" ><path fill="currentColor" d="m282-225-42-42 240-240 240 240-42 42-198-198-198 198Zm0-253-42-42 240-240 240 240-42 42-198-198-198 198Z"/></svg>
    </button>
    {% if page.layout == 'default' %}
    <script src="/assets/js/header.js"></script>
    <script src="/assets/js/contactForm.js"></script>
    {% endif %}
    <script src="/assets/js/hamburger.js"></script>
    <script src="/assets/js/scrollTop.js"></script>
  </body>
</html>
