<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}
      {%- if page.title -%}
        {{page.title | prepend: ' - '}}
        {%- endif -%}
      </title>
      
      <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
      <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap" rel="stylesheet">

  </head>
  <body>
    {{ content }}
    {% if page.layout == 'default' %}
    <script src="/assets/js/header.js"></script>
    <script src="/assets/js/contactForm.js"></script>
    {% endif %}
  </body>
</html>
